body {
  background-color: black;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#addMusic {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
}